/* 增加侧边栏宽度 */
@media (min-width: 1024px) {
    .container {
        /* 默认 250px 1fr */
        --sidebar-width: 500px; 
        
        /* 强制覆盖 Grid 布局 */
        grid-template-columns: var(--sidebar-width) 1fr;
    }
    
    /* 让左侧 Sidebar 容器也跟进这个宽度 */
    .sidebar {
        width: var(--sidebar-width);
    }
}